* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: slateblue;
  padding: 25px;
}
header .container {
  display: flex;
}
header .container .logo {
  width: 20%;
}
header .container .logo img {
  max-width: 25px;
}
header .container .logo h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #000;
}
header .container .menu {
  width: 80%;
}
header .container .menu nav {
  text-align: center;
}
header .container .menu nav ul {
  display: inline-block;
}
header .container .menu nav ul li {
  display: inline-block;
  margin-right: 15px;
}
header .container .menu nav ul li a {
  color: floralwhite;
  -webkit-text-decoration: floralwhite;
          text-decoration: floralwhite;
}
header .container .menu nav ul li a:hover {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  padding-bottom: 25px;
}
#banner img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
}

#about {
  background-color: skyblue;
  text-align: center;
  border-radius: 10px;
}
#about h1 {
  padding: 15px;
}

#projects {
  background-color: #f9f9f9;
}
#projects ul li {
  margin-bottom: 25px;
}
#projects ul li h2 {
  padding: 15px;
}
#projects ul li img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#contact {
  background-color: paleturquoise;
  border-radius: 10px;
}
#contact h1 {
  padding: 15px;
}
#contact form {
  text-align: center;
}
#contact form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
#contact form input[type=text],
#contact form input[type=email],
#contact form textarea {
  width: 100%;
  padding: 17px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}
#contact form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 17px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#contact form input[type=submit]:hover {
  background-color: #4455aa;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 25px;
}
footer h4 {
  padding: 10px;
}
footer img {
  max-width: 300px;
}
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: slateblue;
  padding: 25px;
}
header .container {
  display: flex;
}
header .container .logo {
  width: 20%;
}
header .container .logo img {
  max-width: 25px;
}
header .container .logo h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #000;
}
header .container .menu {
  width: 80%;
}
header .container .menu nav {
  text-align: center;
}
header .container .menu nav ul {
  display: inline-block;
}
header .container .menu nav ul li {
  display: inline-block;
  margin-right: 15px;
}
header .container .menu nav ul li a {
  color: floralwhite;
  -webkit-text-decoration: floralwhite;
          text-decoration: floralwhite;
}
header .container .menu nav ul li a:hover {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  padding-bottom: 25px;
}
#banner img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
}

#about {
  background-color: skyblue;
  text-align: center;
  border-radius: 10px;
}
#about h1 {
  padding: 15px;
}

#projects {
  background-color: #f9f9f9;
}
#projects ul li {
  margin-bottom: 25px;
}
#projects ul li h2 {
  padding: 15px;
}
#projects ul li img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#contact {
  background-color: paleturquoise;
  border-radius: 10px;
}
#contact h1 {
  padding: 15px;
}
#contact form {
  text-align: center;
}
#contact form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
#contact form input[type=text],
#contact form input[type=email],
#contact form textarea {
  width: 100%;
  padding: 17px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}
#contact form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 17px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#contact form input[type=submit]:hover {
  background-color: #4455aa;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 25px;
}
footer h4 {
  padding: 10px;
}
footer img {
  max-width: 300px;
}
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: slateblue;
  padding: 25px;
}
header .container {
  display: flex;
}
header .container .logo {
  width: 20%;
}
header .container .logo img {
  max-width: 25px;
}
header .container .logo h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #000;
}
header .container .menu {
  width: 80%;
}
header .container .menu nav {
  text-align: center;
}
header .container .menu nav ul {
  display: inline-block;
}
header .container .menu nav ul li {
  display: inline-block;
  margin-right: 15px;
}
header .container .menu nav ul li a {
  color: floralwhite;
  -webkit-text-decoration: floralwhite;
          text-decoration: floralwhite;
}
header .container .menu nav ul li a:hover {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  padding-bottom: 25px;
}
#banner img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
}

#about {
  background-color: skyblue;
  text-align: center;
  border-radius: 10px;
}
#about h1 {
  padding: 15px;
}

#projects {
  background-color: #f9f9f9;
}
#projects ul li {
  margin-bottom: 25px;
}
#projects ul li h2 {
  padding: 15px;
}
#projects ul li img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#contact {
  background-color: paleturquoise;
  border-radius: 10px;
}
#contact h1 {
  padding: 15px;
}
#contact form {
  text-align: center;
}
#contact form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
#contact form input[type=text],
#contact form input[type=email],
#contact form textarea {
  width: 100%;
  padding: 17px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}
#contact form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 17px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#contact form input[type=submit]:hover {
  background-color: #4455aa;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 25px;
}
footer h4 {
  padding: 10px;
}
footer img {
  max-width: 300px;
}
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: slateblue;
  padding: 25px;
}
header .container {
  display: flex;
}
header .container .logo {
  width: 20%;
}
header .container .logo img {
  max-width: 25px;
}
header .container .logo h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #000;
}
header .container .menu {
  width: 80%;
}
header .container .menu nav {
  text-align: center;
}
header .container .menu nav ul {
  display: inline-block;
}
header .container .menu nav ul li {
  display: inline-block;
  margin-right: 15px;
}
header .container .menu nav ul li a {
  color: floralwhite;
  -webkit-text-decoration: floralwhite;
          text-decoration: floralwhite;
}
header .container .menu nav ul li a:hover {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  padding-bottom: 25px;
}
#banner img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
}

#about {
  background-color: skyblue;
  text-align: center;
  border-radius: 10px;
}
#about h1 {
  padding: 15px;
}

#projects {
  background-color: #f9f9f9;
}
#projects ul li {
  margin-bottom: 25px;
}
#projects ul li h2 {
  padding: 15px;
}
#projects ul li img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#contact {
  background-color: paleturquoise;
  border-radius: 10px;
}
#contact h1 {
  padding: 15px;
}
#contact form {
  text-align: center;
}
#contact form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
#contact form input[type=text],
#contact form input[type=email],
#contact form textarea {
  width: 100%;
  padding: 17px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}
#contact form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 17px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#contact form input[type=submit]:hover {
  background-color: #4455aa;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 25px;
}
footer h4 {
  padding: 10px;
}
footer img {
  max-width: 300px;
}
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: slateblue;
  padding: 25px;
}
header .container {
  display: flex;
}
header .container .logo {
  width: 20%;
}
header .container .logo img {
  max-width: 25px;
}
header .container .logo h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #000;
}
header .container .menu {
  width: 80%;
}
header .container .menu nav {
  text-align: center;
}
header .container .menu nav ul {
  display: inline-block;
}
header .container .menu nav ul li {
  display: inline-block;
  margin-right: 15px;
}
header .container .menu nav ul li a {
  color: floralwhite;
  -webkit-text-decoration: floralwhite;
          text-decoration: floralwhite;
}
header .container .menu nav ul li a:hover {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  padding-bottom: 25px;
}
#banner img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
}

#about {
  background-color: skyblue;
  text-align: center;
  border-radius: 10px;
}
#about h1 {
  padding: 15px;
}

#projects {
  background-color: #f9f9f9;
}
#projects ul li {
  margin-bottom: 25px;
}
#projects ul li h2 {
  padding: 15px;
}
#projects ul li img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#contact {
  background-color: paleturquoise;
  border-radius: 10px;
}
#contact h1 {
  padding: 15px;
}
#contact form {
  text-align: center;
}
#contact form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
#contact form input[type=text],
#contact form input[type=email],
#contact form textarea {
  width: 100%;
  padding: 17px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}
#contact form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 17px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#contact form input[type=submit]:hover {
  background-color: #4455aa;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 25px;
}
footer h4 {
  padding: 10px;
}
footer img {
  max-width: 300px;
}
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: slateblue;
  padding: 25px;
}
header .container {
  display: flex;
}
header .container .logo {
  width: 20%;
}
header .container .logo img {
  max-width: 25px;
}
header .container .logo h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #000;
}
header .container .menu {
  width: 80%;
}
header .container .menu nav {
  text-align: center;
}
header .container .menu nav ul {
  display: inline-block;
}
header .container .menu nav ul li {
  display: inline-block;
  margin-right: 15px;
}
header .container .menu nav ul li a {
  color: floralwhite;
  -webkit-text-decoration: floralwhite;
          text-decoration: floralwhite;
}
header .container .menu nav ul li a:hover {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  padding-bottom: 25px;
}
#banner img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
}

#about {
  background-color: skyblue;
  text-align: center;
  border-radius: 10px;
}
#about h1 {
  padding: 15px;
}

#projects {
  background-color: #f9f9f9;
}
#projects ul li {
  margin-bottom: 25px;
}
#projects ul li h2 {
  padding: 15px;
}
#projects ul li img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#contact {
  background-color: paleturquoise;
  border-radius: 10px;
}
#contact h1 {
  padding: 15px;
}
#contact form {
  text-align: center;
}
#contact form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
#contact form input[type=text],
#contact form input[type=email],
#contact form textarea {
  width: 100%;
  padding: 17px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}
#contact form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 17px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#contact form input[type=submit]:hover {
  background-color: #4455aa;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 25px;
}
footer h4 {
  padding: 10px;
}
footer img {
  max-width: 300px;
}
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: slateblue;
  padding: 25px;
}
header .container {
  display: flex;
}
header .container .logo {
  width: 20%;
}
header .container .logo img {
  max-width: 25px;
}
header .container .logo h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  color: #000;
}
header .container .menu {
  width: 80%;
}
header .container .menu nav {
  text-align: center;
}
header .container .menu nav ul {
  display: inline-block;
}
header .container .menu nav ul li {
  display: inline-block;
  margin-right: 15px;
}
header .container .menu nav ul li a {
  color: floralwhite;
  -webkit-text-decoration: floralwhite;
          text-decoration: floralwhite;
}
header .container .menu nav ul li a:hover {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  padding-bottom: 25px;
}
#banner img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;
}

#about {
  background-color: skyblue;
  text-align: center;
  border-radius: 10px;
}
#about h1 {
  padding: 15px;
}

#projects {
  background-color: #f9f9f9;
}
#projects ul li {
  margin-bottom: 25px;
}
#projects ul li h2 {
  padding: 15px;
}
#projects ul li img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#contact {
  background-color: paleturquoise;
  border-radius: 10px;
}
#contact h1 {
  padding: 15px;
}
#contact form {
  text-align: center;
}
#contact form label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}
#contact form input[type=text],
#contact form input[type=email],
#contact form textarea {
  width: 100%;
  padding: 17px 25px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}
#contact form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 17px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#contact form input[type=submit]:hover {
  background-color: #4455aa;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all linear 200ms;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

.clr {
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 25px;
}
footer h4 {
  padding: 10px;
}
footer img {
  max-width: 300px;
}
footer p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */